.shadow {
    @extend .radius;
  
    display: inline-block;
    background: get-color('light');
    color: get-color('primary');
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 1rem 0rem;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: get-size('500');
        top: get-size('500');
        background: get-color('secondary');
        z-index: -1;
        @extend .radius;
        transition: transform 0.8s;

    }
  
    // Make sure hover state trumps all variants with a good ol’ important
    &:hover {
        color: get-color('secondary-shade')!important;
        transition-property: color;
        transition-delay: 0.3s;

    }

    &:hover:after {
        transform: translate(-0.85rem, -0.85rem);
    }
}