.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

//Hide homepage subject titles
.intro__subject {
  opacity: 0;
  transform: translateY(-20px);
}

.overflow-hidden {
  overflow: hidden;
}