{% extends 'layouts/base.html' %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = summary %}

{% block content %}

    <article class="about__intro">

        <div class="wrapper flow">

            <h1>{{ title }}</h1> 

            <img class="me" width="960" height="540" src="{{ meImage }}" alt="Frozen Reykjavik sunset"> 

        </div>
        
    </article>

    <article class="about__my-story">

        <div class="wrapper flow">

            <h3 class="about__my-story-title">{{ myStory.storyTitle }}</h3>

            <div class="about__my-story-text-wrapper">

                <p class="about__my-story-text">{{ myStory.paraOne }}</p>

                <p class="about__my-story-text">{{ myStory.paraTwo }}</p>

                <p class="about__my-story-text">{{ myStory.paraThree }}</p>

            </div>

        </div>

        <div class="about__factfile [ flex-center ]">

            {% include "../../images/about/life-progress-bar.svg" %}

            <ul class="about__facts">

                <li class="about__fact">
                    <b>Born:</b>
                    <p>{{ factfile.born }}</p>
                </li>
                <li class="about__fact">
                    <b>Stopped wearing a tie to work:</b>
                    <p>{{ factfile.noTie }}</p>
                </li>
                <li class="about__fact">
                    <b>Finally got a degree (in English):</b>
                    <p>{{ factfile.degree }}</p>
                </li>
                <li class="about__fact">
                    <b>Started coding:</b>
                    <p>{{ factfile.codeStart }}</p>
                </li>
                <li class="about__fact">
                    <b>Decided I didn't like PR:</b>
                    <p>{{ factfile.pr }}</p>
                </li>
                <li class="about__fact">
                    <b>Focused on code:</b>
                    <p>{{ factfile.codeFocus }}</p>
                </li>

            </ul>

        </div>

        <div class="wrapper flow">

            <div class="about__my-story-text-wrapper">

                <p class="about__my-story-text">{{ myStory.paraFour }}</p>

                <p class="about__my-story-text">{{ myStory.paraFive }}</p>

                <p class="about__my-story-text">{{ myStory.paraSix }}</p>

            </div>

        </div>

    </article>

    <article class="about__travel">

        <div class="wrapper flow">

            <h3 class="about__travel-title">{{ travel.travelTitle }}</h3>

            <div class="about__image-container [ flex-column-center ]">

                <img class="about__image [ mw-50 ] [ mw-lg-30 ]" width="323" height="178" src="{{ travel.planeImage }}" alt="Travel">

            </div>

            <p class="about__travel-text">{{ travel.paraOne }}</p>

            <p class="about__travel-text">{{ travel.paraTwo }}</p>

        </div>

    </article>

    <article class="about__music">

        <div class="wrapper flow">

            <h3 class="about__music-title">{{ music.musicTitle }}</h3>

            <div class="about__image-container [ flex-column-center ]">

                <img class="about__image [ mw-50 ] [ mw-lg-30 ]" width="323" height="323" src="{{ music.musicImage }}" alt="Vinyl Record">

            </div>

            <p class="about__music-text">{{ music.paraOne }}</p>
            <p class="about__music-text">{{ music.paraTwo }}</p>

        </div>

    </article>

    <article class="about__animals">

        <div class="wrapper flow">

            <h3 class="about__animals-title">{{ animals.animalsTitle }}</h3>

            <div class="about__image-container [ flex-column-center ]">

                <img class="about__image [ mw-50 ] [ mw-lg-30 ]" width="323" height="323" src="{{ animals.charlieImage }}" alt="The Charlie Bear">

            </div>

            <p class="about__animals-text">{{ animals.paraOne }}</p>
            <p class="about__animals-text">{{ animals.paraTwo }}</p>

            <a href="https://www.instagram.com/johnnycocheroo454/" class="about__button button">{{ buttonText }}</a>

        </div>

    </article>

{% endblock %}