{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}

    <style>{% include "css/critical.css" %}</style>

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}

  </head>
  <body>
    {% include "partials/site-head.html" %}  

    <div class="site-wrap">

      <main tabindex="-1" id="main-content">
        
        {% block content %}{% endblock %}
    
      </main>
    
        <footer role="contentinfo" class="site-foot">
          
          <div class="wrapper">
            
            <p>© {{ helpers.currentYear() }} Developed by Neil</p>
          
          </div>
        
        </footer>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js"></script>
    <!-- Motion path plugin for plane animation -->
    <script src="https://unpkg.com/gsap@3/dist/MotionPathPlugin.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.3.4/dist/ScrollTrigger.js"></script>

    <script>

      const menu = document.getElementById('logo');
      const menuText = document.querySelector('#logo p');
      const tl = gsap.timeline({defaults: {ease: "power2.inOut"}});
      const nav = document.querySelector('.nav');
      const body =  document.querySelector('body');

      let toggle = false;

      tl.to('.nav__mask', {
            'transform': 'translateY(0)',
            duration: 0.1
      }),
      tl.to('.nav li', {
        delay: 0.7,
        opacity: 1,
        transform: 'translateX(0)',
        stagger: .3
      }, "-=.5")  
        tl.pause();

      menu.addEventListener('click', () => {
        toggle = !toggle;
        if(toggle) {
          tl.timeScale(1).play();
          body.style.overflow = 'hidden';
          menuText.innerHTML = 'Close';
          nav.style.pointerEvents = "all";
        } else {
          tl.timeScale(3).reverse();
          body.style.overflow = 'scroll';
          menuText.innerHTML = 'Menu';
          nav.style.pointerEvents = 'none';
        };
      });

      //home speech bubble
      const introSubjects = document.querySelector('.intro__subject');

      if(introSubjects) {
        const homeTL = gsap.timeline({defaults: {ease: "power2.inOut"}})
        const speechBubbleTL = gsap.timeline({defaults: {ease: "power2.inOut"}})
        homeTL
        .to('.intro__subject', {
            opacity: 1,
            duration: 1,
            'transform': 'translateY(0px)',
            stagger: .7
        });
        speechBubbleTL.to('.curly-bracket, .bracket, .slashes, .dot', {
          x: "random(-2, 2, 3)", //chooses a random number between -20 and 20 for each target, rounding to the closest 5!
          y: "random(-3, 3, 2)",
          rotation: "random(10cw, 60cw)",
          ease:Linear.easeNone, 
          duration:1,
          ease:"none",
          repeat:-1,
          repeatRefresh:true // gets a new random x and y value on each repeat
        });
      }
      

      //about page animation
      const aboutImages = document.querySelector('.about__intro');

      if(aboutImages) {
        //const aboutTL = gsap.timeline();
        const aboutImage = gsap.timeline();

        //register the plugin
        gsap.registerPlugin(MotionPathPlugin);
        gsap.registerPlugin(ScrollTrigger);

        aboutImage.to('.me', {
          opacity: 1, 
          delay: 0.5,
          'transform': 'translateX(0px)'    
        });

        gsap.timeline({
          scrollTrigger: '#progress-bar',
        }).to("#progress-bar", {strokeDashoffset: 0, duration: 5, ease: "power2.inOut"});
      }
      

      //cta animation animation
      //register the plugin

      const ctaPlane = document.getElementById('plane');

      if(ctaPlane) {
        gsap.registerPlugin(MotionPathPlugin);
        gsap.registerPlugin(ScrollTrigger);

        gsap.set("#plane", { 
            xPercent: -50,    
            yPercent: -50,    
            transformOrigin: "50% 50%"
        });

        gsap.timeline({
          scrollTrigger: "#plane", // start the animation when ".box" enters the viewport (once)
        })      
        .to("#plane", {
          motionPath: {
            path: "#plane-path",
            align: "#plane-path",
            autoRotate: 45,
            end: 0.97,
          },
          duration: 5,
          ease: "power2.inOut",
          immediateRender: true,
        })
        .fromTo('.cta__contact-button', 
          {scale: 0}, 
          {scale: 1, duration: 1, ease: "bounce"}, "-=1.7"
        );
      }

      //blog animation 
      const speechBubbles = document.querySelector('.blog__intro-speech-bubbles');

      if(speechBubbles) {
        //Sppech bubbles
        gsap.fromTo("#green-bubble", {opacity: 0, x: 50}, {opacity: 1, x: 0, duration: 1.5});
        gsap.fromTo("#purple-bubble", {opacity: 0, x: -50}, {opacity: 1, x: 0, duration: 1.5});
      }

    </script>

  </body>

</html>