{% extends 'layouts/base.html' %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set postListItems = pagination.items %}

{% block content %}

<article class="blog__intro">

    <div class="wrapper flex-cols flow">

        <div class="blog__intro-speech-bubbles">

            {% include "../../images/blog/speech-bubbles.svg" %}

        </div>

        <h1>{{ title }}</h1>

        <p class="blog__intro-para">{{ content | safe }}</p>

        <p class="bad-joke [ bold ]">Bad Joke: {{badJoke}}</p>
            
    </div>

</article>

<article class="blog__list">

    <div class="wrapper">

        <ul class="blog__items">

            {% for blogItem in postListItems %}

            <li class="blog__item">
            
                <a href="{{ blogItem.url }}" class="blog__link">{{ blogItem.data.title }}</a>
                <p class="blog__summary">{{ blogItem.data.summary }}</p>
            
            </li>

            {% endfor %}

        </ul>

        {% include "partials/pagination.html" %}

    </div>

</article>

{% endblock %}