{% extends "layouts/base.html" %} 

{% block content %}
<article class="intro">

    <div class="wrapper flow grid-2-1">

        <div class="intro__image">
            
            {% include "../../images/icons/speech-bubble.svg" %}
            
            <em class="intro__text text-300 md:text-500 lg:text-600 weight-bold">{{ intro.speechBubbleText }}</em>
        </div>
    
        <div class="intro__subjects flow flex-column-center">
    
            <h2 class="intro__subject"><a href="#web-design">{{ webDesign.title }}<span class="light-period">.</span></a></h2>
    
            <h2 class="intro__subject light-title"><a href="#copywriting">{{ copywriting.title }}<span class="dark-period">.</span></a></h2>
    
            <h2 class="intro__subject"><a href="#advertising">{{ advertising.title }}<span class="light-period">.</span></a></h2>

            <a href="#me" class="intro__subject chevron-down-link" alt="Chevron Down Link" aria-label="Chevron Down Link"><span></span></a>
    
        </div>

    </div>  

</article>

<article id="me" class="work-with-me">

    <div class="wrapper flow">

        <div class="work-with-me__title">
        
            <h3>{{ workWithMe.title }}<span class="light-period">.</span></h3>
            
        </div>

        <div class="work-with-me__text">

            <p>{{ workWithMe.text }}</p>

        </div>

        <a class="work-with-me__button button" href="{{ workWithMe.contactBtnUrl }}">{{ workWithMe.contactBtnText }}</a>

    </div>

</article>

<article id="web-design">

    <div class="wrapper flow">

        <h3 class="web-design__title">{{ webDesign.title }}<span class="light-period">.</span></h3>
        
        <div class="web-design__text">{{ webDesign.text}}</div>
    
    </div>

</article>

<article id="copywriting">

    <div class="wrapper flow">

        <h3 class="copywriting__title light-title">{{ copywriting.title }}<span class="dark-period">.</span></h3>
        
        <div class="copywriting__text">{{ copywriting.text }}</div>

    </div>

</article>

<article id="advertising">

    <div class="wrapper flow">

        <h3 class="advertising__title">{{ advertising.title }}<span class="light-period">.</span></h3>
        
        <div class="advertising__text">{{ advertising.text }}</div>

    </div>

</article>

{% endblock %}