{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set postListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set postListItems = collections[tag] %}
  {% set pageHeaderTitle = 'Blog posts filed under “' + tag + '”' %}
{% endif %}

{% block content %}

<article class="work__items">

    <div class="wrapper flow">

        <h1>{{ pageHeaderTitle }}</h1>

        <ul class="work__list auto-grid">

            {% for work in postListItems %}

                <li class="work__list-item flow">
                    
                    <a href="{{ work.url }}" class="">

                        <div class="work__image-wrapper [ shadow ]">

                            <div class="work__image-mask [ radius ]"></div>

                                <img src="{{ work.data.image }}" alt="" class="work__image [ frame ]  [ radius ]">

                        </div>

                    </a>
            
                    <h3>{{ work.data.title }}</h3>
            
                    <p class="work__summary">{{ work.data.summary }}</p>

                    <a href="{{ work.url }}" class="button">View Work</a>

                </li>

            {% endfor %}

        </ul>

        {% include "partials/pagination.html" %}

    </div>

</article>

{% endblock %}