{% extends 'layouts/base.html' %}

{% set pageHeaderTitle = title %}

{% block content %}
  <article class="work__item-banner">

    <div class="work__item-titles [ grid-1-1 wrapper ]">

      <div class="flex-center">

        <img class="" src="{{ icon }}" alt="{{ title }}">

      </div>

      <div class="[ flex-v-center flow ]">

        <h1>{{ pageHeaderTitle }}</h1>
        <h3>What we did:</h3>
        <p>{{ summary }}</p>

      </div>

    </div>

    <div class="tags [ wrapper ]">

      {% if tags %}

        <h4>Categories</h4>

        <ul class="tags-list" aria-describedby="tags-desc">

          {% for tag in tags %}

            <li>

              <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>

            </li>

          {% endfor %}

          </ul>
        
      {% endif %}

    </div>

  </article>


  <article class="work__item-content">

    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
        {{ content | safe }}

      <h3>View the {{ title }} <a href="{{ websiteURL }}" target="_blank">site</a></h3>

    </div>

  </article>

  {% include "partials/cta.html" %}

{% endblock %}