.work__item-banner {
    background: get-color('primary');
    color: get-color('light');
    padding: get-size('400');
    .work__item-titles {
        padding: get-size('400');

        img {
            max-width: 80%;
            padding: get-size('400');
        }
    }
    }
//main blog page block banner
.blog__intro {
    background: get-color('secondary');
    padding-top: get-size('500');


    .blog__intro-speech-bubbles {
        max-width: 50%;
        align-self: center;

        @include media-query('md') {
            max-width: 30%;
        }
    }
}    