.button {
    @extend .radius;
  
    display: inline-block;
    padding: 0.5rem 2rem;
    background: get-color('light');
    color: get-color('primary');
    border: 2px solid;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 1rem 0rem;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 10%;
        top: 30%;
        background: get-color('secondary');
        z-index: -1;
        @extend .radius;
        transition: transform 0.8s;

    }
  
    @include apply-utility('font', 'sans');
    @include apply-utility('weight', 'bold');
  
    // Make sure hover state trumps all variants with a good ol’ important
    &:hover {
        color: get-color('secondary-shade')!important;
        border: 2px solid;
        transition-property: color;
        transition-delay: 0.3s;

    }

    &:hover:after {
        transform: translate(-10%, -30%);
    }
  }

  button {
      border: 0;
      padding: 0;
      background: none;

      &:hover {
          cursor: pointer;
      }
  }