.cta {
    padding: get-size('400');
    background: get-color('secondary');
    color: get-color('light');

    .grid-2-1 {
        grid-gap: get-size('400');
    }

    h2 {
        font-size: get-size('900');
    }

    h3 {
        color: get-color('primary');
    }

    .cta__contact {
        .cta__contact-button {
            width: max-content;
            align-self: flex-end;
            @extend .radius;
            display: inline-block;
            padding: 0.5rem 2rem;
            background: get-color('primary');
            color: get-color('light');
            border: 2px solid get-color('primary');
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            position: relative;
            margin: 1rem 0rem;
            font-weight: 900;

            &:hover {
                background: get-color('light');
                color: get-color('primary');
            }
        }
    }
}