.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-h-center {
    display: flex;
    align-items: center;
}

.flex-v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-spar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include media-query('md') {
        flex-direction: row;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-lg-col-mb {
    display: flex;
    flex-direction: column;

    @include media-query('lg') {
        flex-direction: row;
    }
}