.grid-2-1 {
    display: grid;
    grid-template-columns: 1fr;

    @include media-query('lg') {
        grid-template-columns: 2fr 1fr;
    }
}

.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr;

    @include media-query('lg') {
        grid-template-columns: 1fr 1fr;
    }
}

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: get-size('700');
}