img {
  width: 100%;
  height: auto;
}

//path of life animation
#progress-bar {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
  }

//blog animation
#letter-b, #letter-l, #letter-o, #letter-g {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}  


// work item images
.work__image-wrapper {
  position: relative;

  &:hover {
    background: get-color('light');
  }

  .work__image-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: get-color('light');
    color: get-color('primary');
    border: 5px solid get-color('secondary');
    font-weight: bold;
    opacity: 0;

    &:after {
      content: "View";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transition: opacity 0.3s;
      opacity: 1;
    }
  }
}

//about progress bar
.about__factfile {
  #life-progress-bar {
    margin-right: get-size('400');
  }

  .about__facts {
    .about__fact {
      font-size: 1.2rem;

      @include media-query('md') {
        font-size: get-size('500');
      }
    }
  }
}

.me {
  opacity: 0;
  transform: translateX(-30px);
}