.nav__mask {
    position: fixed;
    transform-origin: bottom left;
    z-index: 10000;
    overflow-y: hidden;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100vh;
    background: get-color('light-shade');
    transform: translateY(-200%);
    transition: transform .7s cubic-bezier(.165,.84,.44,1);
}

.nav {
    line-height: 1;
    font-weight: 900;
    margin-inline-start: -#{get-size('400')};
    display: flex;
    flex-direction: column;
    pointer-events: none;

    //nav animation
    position: fixed!important;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10000;
  
    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: get-size('900')!important;
  
      > * {
        padding-top: get-size('400');
        padding-inline-start: get-size('400');
      }

      li {
        opacity: 0;
        transform: translateX(-10px);
      }
    }
  
    a {
      text-decoration: none;
      display: block;
      position: relative;
      font-size: get-size('700');
      width: max-content;
  
      // Adds the fake border to active state items
      &[data-state='active'],
      &[aria-current='page'] {
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 0.25rem;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 0.25rem;
          background: get-color('secondary');
        }
      }
    }

    .social__links {
      display: flex;
      align-self: center;
      .social__link {
        margin: 0 get-size('500') get-size('700') get-size('400');

        transform: translate(-10px);
        opacity: 0;

        img {
          width: 32px;

          @include media-query('lg') {
            width: 50px;
          }
        }
      }
    }
  }