.site-head {
    padding: get-size('600') 0;
    // position: fixed;
    // background: #f5f5f5;
    // z-index: 9999;
    // width: 100%;
    
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: get-color('primary');
        margin-bottom: 0px;
      }
    }
  
    &__brand {
      flex-shrink: 0;
      //margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo
      display: flex;
      align-items: center;
      z-index: 10000;
      font-weight: 900;
      text-decoration: none;
      cursor: pointer;
  
      // Optical adjustment to account for the offset the sunken 3s create
      transform: translateY(0.25rem);

      &:hover {
        cursor: pointer;
      }

      .logo-svg, .hire-me-svg {
        #shadow {
          transform: translate(20%, 10%);
          transition: transform 0.8s;
        }

        &:hover {
          cursor: pointer;
          #shadow {
            transform: translate(0, 0);
          }
        }
      }
  
      svg {
        margin-left: get-size('400');
        margin-right: get-size('400');
      }
    }
  
    &__nav {
      padding: get-size('300') 0;
    }
  }