// Front page speech buuble

.intro {
    // margin-top: 136px;
    height: 80vh;

    @include media-query('lg') {
        height: unset;
    }

    .intro__image {
        position: relative;

        #shadow {
            transform: translate(5%, 5%);
            transition: transform 0.8s;
        }

        #outline {
            transition-duration: 1s;
        }

        &:hover {
            #shadow {
                transform: translate(0, 0);
            }

            #outline {
                transition-property: fill;
                transition-delay: 0.3s;
                fill: get-color('primary');
            }

            .intro__text {
                transition-property: color;
                transition-duration: 1s;
                transition-delay: 0.3s;
                color: get-color('light');
            }
        }

        .intro__text {
            position: absolute;
            left: 50%;
            top: 50%;
            max-width: 80%;
            transform: translate(-50%, -50%);
        }
    }

    .intro__subjects {

        .chevron-down-link {
            @include media-query('lg') {
                display: none;
            }

            border-radius: 50%;
            height: 40px;
            width: 40px;
            border: 2px solid get-color('primary');
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: inline-block;
                height: 15px;
                width: 15px;
                margin-top: -15%;
                transform: rotate(45deg);
                border-bottom: 2px solid get-color('secondary');
                border-right: 2px solid get-color('secondary');
            }
        }

        .intro__subject {
            a {
                text-decoration: none;
            }
        }
    }
}