// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

//Import homep age specific styles
@import 'home';

// Global styles start
:root {
    --flow-space: #{get-size('600')};
  }

  // //prevent layout shift when opening and closing menu
  // html {
  //   margin-left: calc(100vw - 100%);
  // }
  
  body {
    background: get-color('light');
    color: get-color('primary');
    line-height: 1.5;
    font-size: get-size('500');
  
    @include apply-utility('font', 'base');
  }

  a {
    color: get-color('primary');
    text-decoration-color: get-color('secondary');
    font-weight: bold;
  }
  
  a:not([class]) {
    color: currentColor;
    text-decoration-color: get-color('secondary');
    
    &:hover {
      opacity: 0.7;
    }
  }
  
  :focus {
    outline: 2px dashed get-color('primary');
    outline-offset: 0.25rem;
  }
  
  main:focus {
    outline: none;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 900;
  
    @include apply-utility('font', 'sans');
    @include apply-utility('leading', 'flat');
  }

  p {
    margin-bottom: get-size('400');
  }

  article:not(.cta) {
      margin-top: get-size('500');
      margin-bottom: get-size('500');

      @include media-query('md') {
        margin-top: get-size('900');
        margin-bottom: get-size('900');
      }
  }
  
  // High contrast selection because it can help visually-impaired
  // folks read the text easier
  ::selection {
    color: get-color('light');
  
    // We set this as an RGBA because that’s how you get a solid color, by using 0.99
    // alpha value. Browsers are wild.
    background: rgba(get-color('dark-shade'), 0.99);
  }
  
  // Scrollbar styles
  ::-webkit-scrollbar {
    height: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid get-color('dark-glare');
    border-radius: 0.25rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: get-color('primary');
    border-radius: 0.25rem;
  }

// Import blocks
@import 'blocks/banners';
@import 'blocks/cta';
@import 'blocks/definition-group';
@import 'blocks/grids';
@import 'blocks/flex';
@import 'blocks/tags-list';
@import 'blocks/site-head';
@import 'blocks/nav';
@import 'blocks/site-foot';
@import 'blocks/button';
@import 'blocks/images';
@import 'blocks/skip-link';

// Import utilities
@import 'utilities/flow';
@import 'utilities/frame';
@import 'utilities/positions';
@import 'utilities/radius';
@import 'utilities/shadow';
@import 'utilities/site-wrap';
@import 'utilities/sizes';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'utilities/tables';
@import 'utilities/typography';
