<article class="cta">

    <div class="[ wrapper ] [ grid-2-1 ]">

        <div class="cta__titles [ flow ]">

            <h2>Need help? Let's talk about it</h2>
            <h3>At the least it's an excuse to stop for tea, but it might even change your future.</h3>

        </div>

        <div class="cta__contact flex-col">

            {% include "../../images/cta/contact-aeroplane.svg" %}

            <a href="mailto:howdy@developedbyneil.com" class="cta__contact-button">Contact Me</a>

        </div>

    </div>
    

</article>