<div class="[ page-header ]">
    <div class="[ wrapper ] [ flow ]">
      <h1 class="[ page-header__heading ] [ headline ]" data-highlight="primary">
        {{ pageHeaderTitle }}<span>.</span>
      </h1>
      {% if pageHeaderSummary %}
      <div class="[ page-header__summary ] [ measure-long ]">
        {{ pageHeaderSummary | safe }}
      </div>
      {% endif %}
    </div>
  </div>