<div class="[ dot-shadow panel ]" id="post-list">
    <div class="[ wrapper ] [ flow flow-space-700 ]">
      {% if postListHeadline %}
      <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
        {{ postListHeadline }}
      </h2>
      {% endif %}
      <div class="[ flow ]">
        <ol class="[ post-list ] [ flow ]">
          {% for item in postListItems %}
          <li class="[ post-list__item ] [ leading-tight measure-long ]">
            <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}<span class="light-period">.</span></a>
            <p>{{ item.data.summary }}</p>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>