<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">

  <div class="nav__mask"></div>

    <nav class="[ nav ] [ site-head__nav ] [ font-sans ] [ wrapper ]" aria-label="Primary">
    
      <ul class="nav__list">
        {% for item in navigation.items %}
  
          <li>
              <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}<span class="light-period">.</span></a>
          </li>
        {% endfor %}

      </ul>

      <ul class="social__links">
      
        {% for channel in social.channels %}
      
        <li class="social__link">

          <a href="{{ channel.url }}" target="_blank" rel="noopener"><img src="{{ channel.image }}" alt="{{ channel.alt }}" width="50" height="50"></a>

        </li>
      
        {% endfor %}

      </ul>

    </nav>
  
  <div class="wrapper">
    <div class="site-head__inner">
      <a aria-label="{{ site.name }} - home" id="logo" class="site-head__brand">
        {% include "../../images/icons/logo.svg" %} <p>Menu</p>
      </a>

      <a href="mailto:howdy@developedbyneil.com" aria-label="{{ site.name }} - hire me" id="hire-me" class="site-head__brand">
        <p>Hire Me</p> {% include "../../images/icons/hire-me.svg" %}
      </a>

    </div>
  </div>
</header>